
spring.application.name=UserService

spring.datasource.url=jdbc:postgresql://localhost:5432/{DB_NAME}
spring.datasource.username={DB_USERNAME}
spring.datasource.password={DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

server.port={SERVER_PORT}

minio.endpoint={endpoint}
minio.access-key={user}
minio.secret-key={password}




spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
